.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;

}

.navbar-brand {
    padding-left: 3%;
}

.nav-item {
    padding-left: 20%;
    text-align: center;
    font-size: large;
}

.profile {
    padding-left: 53%;
    text-align: center;
    font-size: large;
}