.headeradd {
    display: flex;
    align-items: baseline;
}

.newcustomer {
    margin-right: auto;
    padding-left: 1%;
    padding-bottom: 2%;
}

.newemployee {
    margin-left: auto;
    padding-right: 1%;
}

.transaction {
    padding-top: 2%;
    padding-bottom: 2%;
}

.modal-dialog-custom {
    width: 50%;
}